body{
    background-color: rgba(123, 0, 255, 0.533);
    color:rgb(0, 238, 255);
font-family: "Bokor", system-ui;
}

.chamada{
    background-color: rgb(201, 189, 22);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.chamada-texto {
    margin-right: 10%;
}
h1{
    font-size: 30px;
}
p{
    font-size: 30px;
}
header{
    font-size: 30px;
    padding-left: 20px;
}
img{
    height: 200px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: rgb(16, 31, 189);
}
.categoria-videos{
    display: flex; 
    overflow-x: auto;
    gap: 10px;
}
h2{
    font-size: 30px;
}